{% extends 'FOSTemplate.html.twig' %}

{% block body %}
    <br/>
    <h1> <a href="/Bascla-master/web/app_dev.php/login">Login </a>  |
        <a href="/Bascla-master/web/app_dev.php/register" > Register</a>    |

        <a href="/Bascla-master/web/app_dev.php/profile" > Profile</a>

    </h1>

{% endblock %}

